@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

:root{
    --primary: #355C7D;
    --secondary: hsl(354, 100%, 73%);
    --tertiary: #C56C86;
    --font:  Georgia, 'Times New Roman', Times, serif;
}

/* --------------------------Landing Page component------------------------ */

body{
    background-color: aliceblue;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;

}

/* ------------------------------Style The Dropdown Button------------------ */
.dropbtn {
    background-color: var(--primary);
    color: #fff;
    padding: 6px 32px;
    font-size: 16px;
    /* border: 1px solid var(--primary); */
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
background-color: var(--primary);
color: #fff;
  }
  hr{
    margin-top: 0;
    display: none;
  }
/* -------------------------------End of dropdown btn---------------------------------- */
.row{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    justify-content: center;
}

.col1, .col2{
margin: 4px;
flex-basis: 40%;
}
.col1{
    margin-left: 48px;
}

h1 span{
    font-size: 2.6rem;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.button1{
    background-color: var(--primary);
     padding: 1.1rem 14rem;
     margin-top: 2.4rem;
     color: #fff; 
     font-size: 1.1rem;
     font-family: var(--font);
}
p{
    position: absolute;
    top: 50%;
    font-family: var(--font);
    font-size: 1.2rem
}

/* ----------------------------------Categories---------------------------- */
.row1{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    height: 90vh;
}
.column{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection{
    padding: 2rem;
    font-size: 2rem;
    margin: 1.2rem;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #B6B4C2; 
    border: none;
    font-family: var(--font);
}

.frame{
    border: 2px inset ;
    margin: 1rem auto;
    width: 80%;
    padding: 1.3rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1); 
}

.textarea{
width: 50%;
margin: 2px;
height: 160px;
padding: 16px 20px; 
border: 2px solid #ccc;
border-radius: 12px;
}
.textArea{
    width: 50%;
    margin: 2px;
    height: 32px;
    padding: 16px 24px; 
    border: 2px solid #ccc;
    border-radius: 12px;
    }
     
textarea[placeholder]{
    font-family: var(--font);
    font-size: 1.1rem;

}

.buttons{
    display: flex;
    gap: 16px;
    margin: 0 auto;
    justify-content: center;
}


/* -----------------------------note comp------------------------- */
.note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ccc;
    min-height: 160px;
    padding: 16px 16px 0 16px;
    font-size: 1.1rem;
}

.note-footer{
    display: flex;
    justify-content: space-between;
}
.noteList{
     display: grid;
     gap: 12px;
     grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    font-family: var(--font);

}
.wrapper{
    max-width: 1060px;
    margin: 1.6rem auto;
}




/* --------------------------media queries----------------------- */

/* ------------------------------small mobiles/iphones------------------------- */
@media screen and (max-width: 320px) {
    .row{
        flex-flow: row wrap-reverse;        
    }
    hr{
        display: block;
    }

    .col1, .col2{
    min-width: 260px;
    flex-basis: 100%;
    text-align: center;
    margin: 0px;
    }
    .col2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.3rem;
    }
    .col1{
        margin: 0 auto;
    }    
    .col2 img{
        width:  240px;
    }
    h1 span{
        font-size: 2.4rem; 
    }

    p{
        position: relative;
    }
 
    .column{
        flex-basis: 100%;
        display: flex;
    }

    .selection{
        font-size: 1.1rem;
        margin: 1.2rem;
        min-width: 300px
    }

    .button1{
         padding: 1.1rem 7.2rem;
         margin-top: 1rem;
         font-size: 1.1rem;
    }

    .buttons{
        flex-flow: row wrap;
        gap: 8px;
        margin: 0;
        margin-top: 1.6rem;
    }
    .note{
        font-size: 1.2rem;
    }

    .frame{
        margin: auto;
        width: 90%;
        padding: 9px;
        box-shadow: none;
        border-style: none;
    }
    
  .textarea{
    width: 80%;
    margin: 4px;
    height: 124px;
    padding: 16px 20px; 
    border: 2px solid #ccc;
    border-radius: 12px;
    }
    .textArea{
        width: 80%;
        margin: 2px;
        height: 32px;
        padding: 16px 24px; 
        border: 2px solid #ccc;
        border-radius: 12px;
        }
         
    textarea[placeholder]{
        font-size: 15px;
    }

#deleteicon{
    font-size: 1.2rem;
}
}

/* -------------------normal mobiles----------------- */
@media screen and (max-width: 428px) and (min-width: 321px){
        .row{
            flex-flow: row wrap-reverse;
        }
        hr{
            display: block;
        }
        .col1, .col2{
        min-width: 300px;
        flex-basis: 100%;
        margin: 0px;
        text-align: center;
        }
        .col2{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1.2rem;
        }
    
        .col2 img{
           min-width:  320px;  
           max-width: 424px;
        }   

        p{
            position: relative;
            font-size: 1.1rem;
        }     

        .column{
            flex-basis: 100%;
            display: flex;
        }
    
        .selection{
            font-size: 1.2rem;
            margin: 1.2rem;
            min-width: 328px
        }
    
        .button1{
             padding: 1.1rem 8.8rem;
             margin-top: 1rem;
             font-size: 1.1rem;
        }
    
        .buttons{
            flex-flow: row wrap;
            gap: 8px;
            margin-top: 1.6rem 0 0 0;
        }
        .note{
            font-size: 1.2rem;
        }
        
        .frame{
            margin: auto;
            width: 90%;
            padding: 2px;
            box-shadow: none;
            border-style: none;
        }

        .textarea{
            width: 80%;
            margin: 4px;
            padding: 16px 20px; 
            border: 2px solid #ccc;
            border-radius: 12px;
            }

            .textArea{
                width: 80%;
                margin: 2px;
                height: 48px;
                padding: 16px 32px; 
                }
                 
            textarea[placeholder]{
                font-size: 16px;
            }
        #deleteicon{
        font-size: 1.6rem;
    }
    }

/* ------------------------ bigger mobiles----------------- */
@media  screen and (max-width: 767px) and (min-width: 429px){
    .row{
        flex-flow: row wrap-reverse;
    }   
     hr{
        display: block;
    }
    .col1, .col2{
    min-width: 320px;
    flex-basis: 100%;
    margin: 0.8rem;
    }
    .col2{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 img{
        width:  320px;
        border-radius: 50%;    
    }

    p{
        position: relative;

    }
 
    .column{
        flex-basis: 100%;
        display: flex;
    }

    .selection{
        font-size: 1.2rem;
        margin: 1.2rem;
        min-width: 328px
    }

    .button1{
         padding: 1.1rem 9rem;
         margin-top: 1rem;
         font-size: 1.1rem;
    }

    .buttons{
        flex-flow: row wrap;
        gap: 8px;
        margin: 0;
        margin-top: 1.6rem;
    }
    .note{
        font-size: 1.4rem;
    }

    .frame{
        margin: auto;
        width: 90%;
        padding: 16px;
        box-shadow: none;
        border-style: none;
    }
    
.textarea{
    width: 80%;
    margin: 4px;
    padding: 16px 20px; 
    border: 2px solid #ccc;
    border-radius: 12px;
    }
    .textArea{
        width: 80%;
        margin: 2px;
        height: 32px;
        padding: 16px 24px; 
        border: 2px solid #ccc;
        border-radius: 12px;
        }
         
    textarea[placeholder]{
        font-size: 16px;
    }

#deleteicon{
    font-size: 1.2rem;
}
}
/* ------------------------------- tablets  --------------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .row{
        flex-flow: row wrap-reverse;
    }
    hr{
        display: block;
    }

    .col1, .col2{
    min-width: 720px;
    flex-basis: 100%;
    margin: 1.2rem;
    text-align: center;
    }

    .col2{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 img{
        width:  720px;
        border-radius: 50%;    
    }
    .col1{        
    font-size: 1.4rem;
    }

    p{
        position: relative;
        font-size: 1.3rem;
    }
     h1 span{
        font-size: 3.2rem;
     }
    .column{
        flex-basis: 40%;
        display: flex;
    }

    .selection{
        font-size: 1.6rem;
        margin: 1.2rem;
        min-width: 328px
    }

    .button1{
         padding: 1.1rem 21rem;
         margin-top: 1.6rem;
         font-size: 1.2rem;
    }

    .buttons{
        flex-flow: row wrap;
        gap: 8px;
        margin: 0;
        margin-top: 1.6rem;
    }

    .note{
        font-size: 1.4rem;
    }

    .note-footer{
        padding-top: 16px;
    }

    .frame{
        margin: auto;
        width: 90%;
        padding: 16px;
        box-shadow: none;
        border-style: none;
    }
    .textarea{
        width: 80%;
        margin: 4px;
        height: 162px;
        padding: 16px 24px; 
        border: 2px solid #ccc;
        border-radius: 12px;
        }
        .textArea{
            width: 80%;
            margin: 4px;
            height: 40px;
            padding: 32px 48px; 
            border: 2px solid #ccc;
            border-radius: 12px;
            }
             
        textarea[placeholder]{
            font-size: 18px;
        }

#deleteicon{
    font-size: 1.8rem;
}

}